{% extends 'base.html' %}

{% block content %}
<h1>About</h1>
<h3>{{ title|capfirst|upper }}</h3>
{{ my_html|safe }}
{{ my_html|striptags|slugify }}
<p>This is paragraph</p>

<p>
    {{ my_number }},  {{my_list}}
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<ul>
    {% for abc in my_list %}
        {% if abc == 435 %}
            <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
        {% elif abc == "Hai" %}
            <li>"This is not a network</li>
        {% else %}
            <li>{{ forloop.counter }} - {{ abc }}</li>
        {% endif %}
    {% endfor %}
</ul>


{% endblock content %}